.App {
  text-align: center;
}

table {
  width: 100vw;
  background-color: black;
}

td {
  width: 20vw;
  height: 20vw;
  background-color: antiquewhite;
  font-size: 1em;
  color: white;
  text-shadow: 0 0 0.1em;
}

td span {
  display: block;
}

td::before {
  content: attr(type);
  position: absolute;
  width: 20vw;
  height: 20vw;
  pointer-events: none;
}
